<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="activeMenuItem='suppliers'">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{suppliers.title}"></title>
</head>

<body>
    <div layout:fragment="page-content">
        <!-- tag::title[] -->
        <div
            th:replace="~{fragments/titles :: title-with-button(#{suppliers.title}, #{supplier.add}, @{/suppliers/create})}">
        </div>
        <!-- end::title[] -->
        <!-- tag::alert[] -->
        <div th:if="${createdSupplierName}"> <!--.-->
            <div th:replace="~{fragments/alerts :: success(#{supplier.create.success(${createdSupplierName})})}"></div> <!--.-->
        </div>
        <div th:if="${updatedSupplierName}"> <!--.-->
            <div th:replace="~{fragments/alerts :: success(#{supplier.update.success(${updatedSupplierName})})}"></div> <!--.-->
        </div>
        <div th:if="${deletedSupplierName}"> <!--.-->
            <div th:replace="~{fragments/alerts :: success(#{supplier.delete.success(${deletedSupplierName})})}"></div> <!--.-->
        </div>
        <!-- end::alert[] -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
            <div class="py-4">
                <div class="flex flex-col">
                    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                        <div
                            class="align-middle inline-block min-w-full shadow overflowhidden rounded-md sm:rounded-lg border-b border-gray-200">
                            <table class="min-w-full">
                                <thead>
                                    <tr>
                                        <th th:replace="~{fragments/table :: header(title=#{supplier.ruc})}"></th>
                                        <th th:replace="~{fragments/table :: header(title=#{supplier.supplierName}, hideOnMobile='true')}"></th>
                                        <th th:replace="~{fragments/table :: header(title=#{supplier.phoneNumber}, hideOnMobile='true')}"></th>
                                        <th th:replace="~{fragments/table :: header(title=#{supplier.debtDollars}, hideOnMobile='true')}"></th>
                                        <th th:replace="~{fragments/table :: header(title=#{supplier.debtSoles}, hideOnMobile='true')}"></th>
                                        <th th:replace="~{fragments/table :: header(title='')}"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:if="${suppliers.isEmpty()}">
                                        <td colspan="6" class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500 text-center" th:text="#{values.isEmpty}">
                                        </td>
                                    </tr>
                                    <tr class="bg-white" th:each="supplier : ${suppliers}">
                                        <td th:replace="~{fragments/table :: data(contents=${supplier.ruc}, primary='true')}"></td>
                                        <td th:replace="~{fragments/table :: data(contents=${supplier.supplierName}, hideOnMobile='true')}"></td>
                                        <td th:replace="~{fragments/table :: data(contents=${supplier.phoneNumber.asString()}, hideOnMobile='true')}"></td>
                                        <td th:replace="~{fragments/table :: data(contents=${supplier.supplierDebtDollars}, hideOnMobile='true')}"></td>
                                        <td th:replace="~{fragments/table :: data(contents=${supplier.supplierDebtSoles}, hideOnMobile='true')}"></td>
                                        <td th:replace="~{fragments/table :: actions(infoText=#{info},
                                            infoUrl='#',
                                            editText=#{edit},
                                            editUrl=@{'/suppliers/'+ ${supplier.supplierId.toString()}},
                                            deleteText=#{delete},
                                            deleteUrl=@{/suppliers/{id}/delete(id=${supplier.supplierId})},
                                            deleteName=${supplier.supplierName})}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <th:block th:if="${not suppliers.isEmpty()}">
                                <div th:replace="~{fragments/pagination :: controls(page=${suppliers})}"></div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tag::modals-content[] -->
    <div layout:fragment= "modals-content">
        <div th:replace= "~{fragments/modals :: deleteModal(titleKey='supplier.delete.title', messageKey='supplier.delete.confirmation')}">
        </div>
    </div>
    <!-- end::modals-content[] -->
    <!-- tag::modals-content-js[] -->
    <th:block layout:fragment="page-scripts">
        <!-- tag::success-js[] -->
        <script th:src="@{/js/modal-delete-confirmation.js}"></script>
        <script th:replace="~{fragments/alerts :: success-js}"></script>
        <!-- end::success-js[] -->
    </th:block>
    <!-- end::modals-content-js[] -->
</body>

</html>